body{
	background:#ccc !important;
}

.ringue{
	display: block;
	margin: 2em;
	background:#fff;
	width: 25px;
	height: 25px;
}

.personagem_1{
	width: 5px;
	height: 5px;
	background: #000;
	position:absolute;
	top:0;
	left:0;
}

.fruta{
	width: 5px;
	height: 5px;
	background: rgb(19, 149, 47);
}
